<div style="border: solid red 1px" class="ecg-conti">
  <input type="button" id="btnok" style="display: none" onclick="pause(0)" value="继续" />
  <input type="button" id="btnno" style="display: none" onclick="pause(1)" value="暂停" />
  网格：<input type="checkbox" id="chkshowgrid" checked="checked" onclick="showgrid();" />显示网格
  幅度：
  <!-- 0=5mm/mV，1=10mm/mV,2=20mm/mV,3=30mm/mV -->
  <input type="radio" name="radadu" value="0.5" />5mm/mV
  <input type="radio" name="radadu" value="1" checked="checked" />10mm/mV
  <input type="radio" name="radadu" value="2" />20mm/mV
  <input type="radio" name="radadu" value="3" />30mm/mV
  导联：
  <!-- I,II,III,aVR,aVL,aVF,V1,V2,V3,V4,V5,V6 -->
  <input type="checkbox" name="chkecg" value="0" checked="checked"/>I
  <input type="checkbox" name="chkecg" value="1" checked="checked"/>II
  <input type="checkbox" name="chkecg" value="2" checked="checked"/>III
  <input type="checkbox" name="chkecg" value="3" checked="checked"/>aVR
  <input type="checkbox" name="chkecg" value="4" checked="checked·"/>aVL
  <input type="checkbox" name="chkecg" value="5" checked="checked"/>aVF
  <input type="checkbox" name="chkecg" value="6" checked="checked"/>V1
  <input type="checkbox" name="chkecg" value="7" checked="checked"/>V2
  <input type="checkbox" name="chkecg" value="8" checked="checked"/>V3
  <input type="checkbox" name="chkecg" value="9" checked="checked"/>V4
  <input type="checkbox" name="chkecg" value="10" checked="checked"/>V5
  <input type="checkbox" name="chkecg" value="11" checked="checked"/>V6
  <input id="btsave" type="button" value="保存" onclick="saveclick();" />
</div>
<div id='LogContainer'>
</div>
<div style="width: 1300px; margin: 0 auto" >
  <div class="boack" style="overflow-x: scroll">
    <canvas id="background" width="1200" height="1300" style="margin-left: 0">
    </canvas>
  </div>
  <div class="boack" style="overflow-x: scroll">
    <canvas id="line" width="1200" height="1300" style="margin-left: 10px">
    </canvas>
  </div>
</div>

