<div class="logo">
  <a href="/#/home" title="返回首页"></a>
</div>
<div class="title-style">
  <a href="/#/home">
    <h3>国家健康医疗大数据平台</h3>
  </a>
</div>

<ul class="nav navbar-nav nav-pills">
  <li class="nav-item">
    <a href="/#/home"  [ngStyle]="getStyle(flag01)" class="nav-link" routerLinkActive="active">
      首页
    </a>
  </li>
  <li class="nav-item">
    <a href="/#/data-set/10" [ngStyle]="getStyle(flag02)" class="nav-link" routerLinkActive="active">
      数据集
    </a>
  </li>
  <li class="nav-item dropdown">
    <a [ngStyle]="getStyle(flag03)" class="nav-link dropdown-toggle" data-toggle="dropdown">
      安全
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a>安全标准</a></li>
      <li><a>可信计算</a></li>
      <li><a>处置联动</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a [ngStyle]="getStyle(flag04)" class="nav-link dropdown-toggle" data-toggle="dropdown">
      生态
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#/data-harbor">中电数港</a></li>
      <li><a>中电数融</a></li>
      <li><a>IBM沃森</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a href="" [ngStyle]="getStyle(flag05)" class="nav-link dropdown-toggle" data-toggle="dropdown" routerLinkActive="active">
      AI
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <b>知识库</b>
        <ul class="menu-list">
          <li><a>规则库</a></li>
          <li><a>术语库</a></li>
          <li><a>术语关系库</a></li>
          <li><a>事实信息库</a></li>
        </ul>
      </li>
      <li>
        <b>标准库</b>
        <ul class="menu-list">
          <li><a>数据元标准</a></li>
          <li><a>数据统一代码</a></li>
          <li><a>ISO/IES JTCI/WG9</a></li>
          <li><a>ITU-T</a></li>
        </ul>
      </li>
      <li><b>算法库</b></li>
      <li><b>模型库</b></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a href="#" [ngStyle]="getStyle(flag07)" class="nav-link dropdown-toggle" data-toggle="dropdown">
      支持
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <b>服务与支持</b>
        <ul class="menu-list">
          <li><a>数据交易</a></li>
          <li><a>数据报告</a></li>
          <li><a>采集与汇聚</a></li>
          <li><a>数据互联互通</a></li>
        </ul>
      </li>
      <li>
        <b>帮助与文档</b>
        <ul class="menu-list">
          <li><a>新手学堂</a></li>
          <li><a>自助工具</a></li>
          <li><a>专家分享</a></li>
          <li><a>文档与视频</a></li>
          <li><a>公告</a></li>
        </ul>
      </li>
      <li>
        <b>开发者中心</b>
        <ul class="menu-list">
          <li><a>API平台</a></li>
          <li><a>SDK</a></li>
          <li><a>应用开发</a></li>
          <li><a>开发资源</a></li>
          <li><a>机器学习</a></li>
          <li><a>发售模型</a></li>
        </ul>
      </li>
      <li>
        <b>建议与反馈</b>
        <ul class="menu-list">
          <li><a>网站建议</a></li>
          <li><a>数据使用建议</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <!--<li class="nav-item dropdown">-->
    <!--<a href="#" [ngStyle]="getStyle(flag07)" class="nav-link dropdown">-->
      <!--主题-->
      <!--<b class="caret"></b>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu">-->
      <!--<li><a (click)="toDataSet(1)"><img src="/assets/home/zhengfu.png">政府</a></li>-->
      <!--<li><a (click)="toDataSet(2)"><img src="/assets/home/baoxian.png">保险</a></li>-->
      <!--<li><a (click)="toDataSet(3)"><img src="/assets/home/yaoqi.png">药企</a></li>-->
      <!--<li><a (click)="toDataSet(4)"><img src="/assets/home/jishu.png">技术</a></li>-->
      <!--<li><a (click)="toDataSet(5)"><img src="/assets/home/safe.png">安全</a></li>-->
      <!--<li><a (click)="toDataSet(6)"><img src="/assets/home/rengong.png">AI</a></li>-->
      <!--<li><a (click)="toDataSet(7)"><img src="/assets/home/yiliaojigou.png">医疗机构</a></li>-->
      <!--<li><a (click)="toDataSet(8)"><img src="/assets/home/shujukaifang.png">数据开放</a></li>-->
    <!--</ul>-->
  <!--</li>-->
  <li class="nav-item">
    <a href="/#/about" [ngStyle]="getStyle(flag08)" class="nav-link" routerLinkActive="active">
      联系
    </a>
  </li>
</ul>

<div class="search-data">
  <input [(ngModel)]="query" type="text" placeholder="搜索···">
  <span (click)="search()"><img src="/assets/home/icon-search.png" ></span>
</div>

