
<div class="title-style">
  <h3>我的工作台</h3>
</div>

<ul class="nav navbar-nav nav-pills">
  <li class="nav-item">
    <a href="/#/original-data/0" [ngStyle]="getStyle(flag01)" class="nav-link" routerLinkActive="active">
      原始数据集
    </a>
  </li>
  <li class="nav-item">
    <a href="/#/cloud-resource/0" [ngStyle]="getStyle(flag02)" class="nav-link" routerLinkActive="active">
      云资源
    </a>
  </li>
  <li class="nav-item">
    <a href="/#/cloud-function/0" [ngStyle]="getStyle(flag03)" class="nav-link" routerLinkActive="active">
      云函数
    </a>
  </li>
  <li class="nav-item">
    <a href="/#/model-base" [ngStyle]="getStyle(flag04)" class="nav-link" routerLinkActive="active">
      模型库
    </a>
  </li>
  <li class="nav-item">
    <a href="/#/order-query/0" [ngStyle]="getStyle(flag05)" class="nav-link" routerLinkActive="active">
      订单查询
    </a>
  </li>
  <li class="nav-item">
    <a href="/#/document-detail" [ngStyle]="getStyle(flag06)" class="nav-link" routerLinkActive="active">
      文献查询
    </a>
  </li>
  <li class="nav-item">
    <a href="/#/jurisdiction" [ngStyle]="getStyle(flag07)" class="nav-link" routerLinkActive="active">
      权限设置
    </a>
  </li>
  <li class="nav-item">
    <a href="/#/extraction-data" [ngStyle]="getStyle(flag08)" class="nav-link" routerLinkActive="active">
      自定义需求
    </a>
  </li>
</ul>

