

.footer-box{
  width: 100%;
  background: rgb(88, 105, 116);
  height:150px;
  opacity: 0.5;
  border-top:5px solid #587ECB;
  P{
    text-align: center;
    line-height: 14px;
    color:#fff;
    font-size: 13px;
  }
  .copyright{
    padding-top: 30px;
  }
}
