

.footer-box{
  background: #000;
  height:130px;
  border-top:5px solid #587ECB;
  P{
    text-align: center;
    line-height: 14px;
    color:#ccc;
    font-size: 13px;
  }
  .copyright{
    padding-top: 30px;
  }
}
