:host /deep/ .widgets {
  .smart-table-container {
    width: 100%;
  }
}

:host /deep/ {
  ng2-smart-table {
    th, td {
      border: 1px solid #ccc;
      line-height: 35px;
      vertical-align: middle;
      text-align: center;
    }

    table tr td {
      padding: 0 8px;
    }

    color: #333;

    input {
      line-height: 1.5 !important;
      text-align: center;
      font-size: 12px !important;
    }

    ng2-smart-table-cell {
      color: #333;
      line-height: 35px;
    }

    tbody {
      tr {
        color: #333;
      }
      tr:hover {
        background: rgba(0, 0, 0, 0.03);
        cursor: pointer;
      }
    }

    a.ng2-smart-sort-link {
      font-size: 12px !important;
      color: #333;
      font-weight: bolder;
      &.sort {
        font-weight:bolder !important;

        &::after {
          border-bottom-color: #333 !important;
        }
      }
    }

    .ng2-smart-actions {
      width: 70px;
      text-align: center;
      .actions {
        float: none;
        text-align: center;
      }
    }

    a.ng2-smart-action, .ng2-smart-title {
      font-size: 12px !important;
      color: #333;
      padding: 0 5px;
      display: inline-block;
    }

    nav.ng2-smart-pagination-nav {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  }
}

