


.home {
  margin: 0;
  padding: 0;
  position: relative;
  background: url("/assets/home/login-bg.png") no-repeat center;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;

}

.home-login{
  width: 25%;
  height:430px;
  border:1px solid #397cd5;
  box-shadow: 2px 2px 2px;
  background: #fff;
  margin-left: 35%;
}

.input-group {
  position: relative;
  display: inline-table;
  vertical-align: middle;
  border-collapse: separate;
  width: 86%;
  color: #4a4a4a;
  border: 1px solid #397cd5;
  border-radius: 4px;
  box-sizing: border-box;
}
.input-group .form-control {
  padding: 7px 10px;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  width: 100%;
  background: none;
  border: none;
  color: #000;
}
.form-control + .input-group__addon, .input-group__addon + .form-control {
  padding-left: 0;
}

.input-group .input-group__addon {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px;
}

.btn-login:hover{
  cursor: pointer;
}
.form-user{
  text-align: left;
}



.content {
  text-align: center;
}

h2 {
  margin-bottom: 70px;
  color:#333;
}

.form-group {
  margin-bottom: 3rem;
  .btn-login {
    font-size: 14px;
    height: 48px;
    width: 86%;
    margin-left: 7%;
  }
}

.goto-register{
  color:#ccc;
  .register{
    font-size:16px;
  }
}

.card.card-danger {
  margin-top: -2rem;
  margin-bottom: 1rem;
  text-align: left;
  padding: 12px;
  border-radius: 0;
  .icon {
    margin-right: 1em;
  }
}



.top-nav{
  height: 50px;
  background: #131418;
  box-shadow: 0 3px 0 0 #0098F6;
}


.nav-pills {
  float: left;
  width:51%;
  .nav-item {
    height: 50px;
    a{
      color: #fff;
      font-size: 14px;
      line-height: 20px;
    }
    a:hover{
      background: #424A55;
      font-weight: bold;
    }
    .dropdown-menu{
      margin: 0;
      padding: 0;
      a{
        color: #0A77BD;
        font-size: 14px;
        line-height: 32px;
        img{
          width:20px;
          height: 20px;
          margin-right: 10px;
        }
      }
      a:hover{
        background: #eee;
        font-weight:bold;
      }

    }
  }
}

.logo {
  height: 24px;
  width: 28px;
  float: left;
  margin: 14px 20px 0 20px;
  a {
    width: 100%;
    height: 100%;
    display: block;
    background: url("/assets/images/logo.png") no-repeat;
  }
}
.title-style {
  float: left;
  height: 50px;
  width: 220px;
  margin-left: -16px;
  h3 {
    font-size:18px;
    font-weight: normal;
    line-height: 12px;
    color: #fff;
  }
}
