
h2{
  margin: 20px;
  color: #ffffff;
}
.form-group{
  margin-bottom: 10px;
  position: relative;
  span {
    position: absolute;
    top: 8px;
    right: -15px;
    color: red;
  }
}
.input-group-addon{
  width:70px;
  font-size: 12px;
}
.form-group .btn-register {
  font-size: 14px;
  height: 48px;
  width: 86%;
  margin-left: 7%;
}

.goto-login{
  color:#ccc;
  .login{
    font-size:16px;

  }
}


