.main-content{
  background: #fff;
}


.data-content{
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}

.panel-default {
  .panel-heading{
    background: #0A77BD;
    line-height: 40px;
    padding-left: 15px;
    a{
      color: #fff;
      font-size: 13px;
    }
  }
  .panel-body{
    padding: 0;
    .nav-stacked{
      li{
        border:1px solid #ccc;
        width: 100%;
        line-height: 40px;
        padding-left: 15px;
        margin-bottom: 1px;
        font-size: 12px;
        color: #337ab7;
        &:hover{
          background: #efefef;
        }
      }
      img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}
.view-header {
  margin-top: 2%;
}
.your-need {
  width: 40%;
  margin-left: 72%;
  .btn-ask{
    background: #0098F6;
    border:none;
    font-size: 14px;
  }
}


.view-cont{
  margin-top: 30px;
}
.user-defined {
  border:1px solid #ccc;
  width: 100%;
  margin: 20px auto;
  background: #F9F9F9;
  h4{
    position: relative;
    color: #999;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    line-height: 36px;
    padding-left: 10px;
    height: 36px;
    span{
      position: absolute;
      top:0;
      right:10px;
      font-size: 12px;
      color: #1badd8;
    }
  }
  .liucheng{
    padding-left: 5px;
    height: 40px;
    width: 100%;
    list-style: none;
    font-size: 13px;
    li{
      float: left;
      &:nth-of-type(1){
        a{
          background: #F45D46;
        }

      }
      &:nth-of-type(2){
        a{
          background: #FA864C;
        }
      }
      &:nth-of-type(3){
        a{
          background: #F5A623;
        }
      }
      &:nth-of-type(4){
        a{
          background: #F7C24B;
        }
      }
      &:nth-of-type(5){
        a{
          background: #99E05D;
        }
      }
      a{
        float: left;
        width: 130px;
        height: 38px;
        color: #fff;
        line-height:38px;
        border-radius: 20px;
        img{
          width: 30px;
          height: 30px;
          margin: 4px 10px 0 4px;;
        }
      }
      img{
        width: 42px;
        height: 24px;
        float: left;
        margin: 8px 5px 0 5px;
      }

    }
  }
}
.btn-show{
  font-size: 14px;
}
.btn-show:hover{
  color: #0A77BD;
}
.grid-table{
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 400px;
  border:1px solid #ccc;
}
.table-data{
  border:1px solid #ccc;
  box-shadow: 1px 1px 1px 0;
  overflow: hidden;
  .table-nav{
    margin:0;
    padding: 0;
    tr{
      &:nth-child(2n){
        background: #f6f7f8;
      }
    }
    th,td{
      width:150px;
      list-style: none;
      float: left;
      border-right:1px solid #ddd;
      line-height:40px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left: 10px;
      text-align: center;
      &:nth-last-of-type(1){
        border-right: none;
      }
    }
  }
}
.table-header{
  color: #333;
  background: #d5e6f1;
}
.table-cont {
  border-bottom: 1px solid #d5e6f1;

  td{
    &:hover{
      cursor: pointer;
    }
  }
}

.table-sql{
  height: 500px;
  .table-data{
    width: 100%;
  }
}

.table-more{
  height: 500px;
  .table-data{
    width: 1153px;
    tr, td {
      width: 150px;
    }
    tr:last-of-type{
      width: 200px;
    }
    td:last-of-type{
      width: 200px;
    }
  }
}

