.view-cont{
  margin-top: 30px;
  h3{
    position: relative;
    height: 40px;
    font-size: 22px;
    .btn-check{
      position: absolute;
      right: 130px;
      font-size: 13px;
      border:none;
      background: #228ff1;
    }
    .btn-return{
      position: absolute;
      right: 12px;
      font-size: 13px;
      border:none;
      background: #228ff1;
    }
  }
}
.btn-show{
  font-size: 14px;
}
.btn-show:hover{
  color: #0A77BD;
}


.table-more{
  height: 500px;
  .table-data{
    width: 1168px;
  }
}

