<app-layout-header></app-layout-header>

<div class="main-content">

  <div class="data-content">
    <div class="container-fluid">

        <div class="view-header">

            <div class="user-defined">
              <h4>医生诊断明细 <span>X 关闭</span></h4>
              <ul class="liucheng">
                <li>
                  <a><img src="/assets/images/one.png">患者管理</a><img src="/assets/images/jiantouji.png">
                </li>

                <li>
                  <a><img src="/assets/images/two.png">上传数据</a><img src="/assets/images/jiantouji.png">
                </li>

                <li>
                  <a><img src="/assets/images/three.png">心电诊断</a><img src="/assets/images/jiantouji.png">
                </li>

                <li>
                  <a><img src="/assets/images/four.png">监测记录</a><img src="/assets/images/jiantouji.png">
                </li>

                <li>
                  <a><img src="/assets/images/five.png">️统计报表</a>
                </li>
              </ul>
            </div>

          </div>
        <div class="view-cont">
            <h4>监测记录</h4>
            <div class="grid-table table-more">
              <div>
                <table class="table-data">
                  <thead class="table-nav">
                  <tr class="table-header">
                    <th>序号</th>
                    <th>记录时间</th>
                    <th>心电时长</th>
                    <th>状态(是否正常)</th>
                    <th>操作</th>
                    <th>备注</th>

                  </tr>
                  </thead>
                  <tbody class="table-nav">
                  <tr class="table-cont">
                    <td>1</td>
                    <td>2017/12/17 12:22:03</td>
                    <td>01：30</td>
                    <td>否</td>
                    <td>
                      <a class="btn btn-default btn-show" href="/#/history-diagnose">查看详情</a>
                    <td>内容</td>
                  </tr>
                  <tr class="table-cont">
                    <td>2</td>
                    <td>2017/12/17 12:22:03</td>
                    <td>01：30</td>
                    <td>否</td>
                    <td>
                      <a class="btn btn-default btn-show" href="/#/history-diagnose">查看详情</a>
                    <td>内容</td>
                  </tr>
                  <tr class="table-cont">
                    <td>3</td>
                    <td>2017/12/17 12:22:03</td>
                    <td>01：30</td>
                    <td>否</td>
                    <td>
                      <a class="btn btn-default btn-show" href="/#/history-diagnose">查看详情</a>
                    <td>内容</td>
                  </tr>
                  <tr class="table-cont">
                    <td>4</td>
                    <td>2017/12/17 12:22:03</td>
                    <td>01：30</td>
                    <td>否</td>
                    <td>
                      <a class="btn btn-default btn-show" href="/#/history-diagnose">查看详情</a>
                    <td>内容</td>
                  </tr>
                  <tr class="table-cont">
                    <td>5</td>
                    <td>2017/12/17 12:22:03</td>
                    <td>01：30</td>
                    <td>否</td>
                    <td>
                      <a class="btn btn-default btn-show" href="/#/history-diagnose">查看详情</a>
                    <td>内容</td>
                  </tr>
                  <tr class="table-cont">
                    <td>6</td>
                    <td>2017/12/17 12:22:03</td>
                    <td>01：30</td>
                    <td>否</td>
                    <td>
                      <a class="btn btn-default btn-show" href="/#/history-diagnose">查看详情</a>
                    <td>内容</td>
                  </tr>
                  <tr class="table-cont">
                    <td>7</td>
                    <td>2017/12/17 12:22:03</td>
                    <td>01：30</td>
                    <td>否</td>
                    <td>
                      <a class="btn btn-default btn-show" href="/#/history-diagnose">查看详情</a>
                    <td>内容</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>

    </div>

  </div>

  <div style="height: 60px"></div>

</div>


<app-footer></app-footer>
