<app-layout-header></app-layout-header>

<div class="main-content">

  <div class="data-content">
    <div class="container-fluid">
        <div class="view-cont">
            <h3>
              监测记录
              <button class="btn btn-primary btn-check"><a href="/#/monitor-message" style="color: #fff">查看监测信息</a></button>
              <button class="btn btn-primary btn-return"><a href="/#/doctor-enter/1" style="color: #fff">返回患者管理</a></button>
            </h3>
            <div class="grid-table table-more">
              <div>
                <table class="table-data">
                  <thead class="table-nav">
                  <tr class="table-header">
                    <th>序号</th>
                    <th>记录时间</th>
                    <th>心电时长</th>
                    <th>状态(是否正常)</th>
                    <th>操作</th>
                    <th>备注</th>

                  </tr>
                  </thead>
                  <tbody class="table-nav">
                  <tr class="table-cont">
                    <td>1</td>
                    <td>2017/12/17 12:22:03</td>
                    <td>01：30</td>
                    <td>否</td>
                    <td>
                      <a class="btn btn-default btn-show" href="/#/history-diagnose">查看详情</a>
                    <td>内容</td>
                  </tr>
                  <tr class="table-cont">
                    <td>2</td>
                    <td>2017/12/17 12:22:03</td>
                    <td>01：30</td>
                    <td>否</td>
                    <td>
                      <a class="btn btn-default btn-show" href="/#/history-diagnose">查看详情</a>
                    <td>内容</td>
                  </tr>
                  <tr class="table-cont">
                    <td>3</td>
                    <td>2017/12/17 12:22:03</td>
                    <td>01：30</td>
                    <td>否</td>
                    <td>
                      <a class="btn btn-default btn-show" href="/#/history-diagnose">查看详情</a>
                    <td>内容</td>
                  </tr>
                  <tr class="table-cont">
                    <td>4</td>
                    <td>2017/12/17 12:22:03</td>
                    <td>01：30</td>
                    <td>否</td>
                    <td>
                      <a class="btn btn-default btn-show" href="/#/history-diagnose">查看详情</a>
                    <td>内容</td>
                  </tr>
                  <tr class="table-cont">
                    <td>5</td>
                    <td>2017/12/17 12:22:03</td>
                    <td>01：30</td>
                    <td>否</td>
                    <td>
                      <a class="btn btn-default btn-show" href="/#/history-diagnose">查看详情</a>
                    <td>内容</td>
                  </tr>
                  <tr class="table-cont">
                    <td>6</td>
                    <td>2017/12/17 12:22:03</td>
                    <td>01：30</td>
                    <td>否</td>
                    <td>
                      <a class="btn btn-default btn-show" href="/#/history-diagnose">查看详情</a>
                    <td>内容</td>
                  </tr>
                  <tr class="table-cont">
                    <td>7</td>
                    <td>2017/12/17 12:22:03</td>
                    <td>01：30</td>
                    <td>否</td>
                    <td>
                      <a class="btn btn-default btn-show" href="/#/history-diagnose">查看详情</a>
                    <td>内容</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>

    </div>

  </div>

  <div style="height: 60px"></div>

</div>


<app-footer></app-footer>
