<app-layout-header></app-layout-header>

<div class="main-content" style="margin-top: 0px">

  <div class="data-content">
    <div class="container-fluid">
        <div class="view-cont">
            <h3>患者历史记录——心电图<button class="btn btn-primary"><a href="/#/patient-enter/0" style="color: #fff">返回患者管理</a></button></h3>
            <div class="heart-img">
              <app-ecg-show></app-ecg-show>
            </div>

            <div class="summary">
              <h4>诊断分析总结</h4>
              <textarea readonly="readonly" style="color: #ccc">胸廓左右对称，所示骨骼未见骨质异常；两肺纹理走向分布规则；两肺野清晰，双侧肺门大小、形态未见异常；纵隔影未见增宽， 心影未见增大；两侧膈肌高度相称，表面光整，双侧肋膈角锐利。</textarea>
            </div>
          </div>
    </div>
  </div>

  <div style="height: 60px"></div>
</div>

<app-footer></app-footer>
