<app-layout-header></app-layout-header>

<div class="main-content">

  <div class="data-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div style="width: 100%;">
            <div class="panel-group" id="accordion2">
              <div class="panel-heading">
                <strong style="font-size: 24px;">患者端明细</strong>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  <a class="accordion-toggle">患者明细</a>
                </div>
                <div id="collapseOne" class="panel-collapse in" style="height: auto;">
                  <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                      <li [ngStyle]="getStyle(flag00)" (click)="showContent(0)"><a><img src="/assets/images/guanli.png">患者历史记录</a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-9">
          <div class="view-header">
            <div class="your-need">
              <button class="btn btn-primary btn-ask"><a href="/#/apply-cloud" style="color: #fff">门(急)诊挂号系统</a></button>
              <button class="btn btn-primary btn-ask"><a href="/#/great-group" style="color: #fff">住院管理系统</a></button>
            </div>


          </div>
          <div *ngIf="flag00" class="view-cont">
            <div class="data-preview">
              <h4>历史诊断列表:<button class="btn btn-primary btn-add">上传心电</button></h4>
              <div class="grid-table table-more">
                <div>
                  <table class="table-data">
                    <thead class="table-nav">
                    <tr class="table-header">
                      <th>序号</th>
                      <th>开始时间</th>
                      <th>结束时间</th>
                      <th>医师姓名</th>
                      <th>年龄</th>
                      <th>性别</th>
                      <th>状态(是否正常)</th>
                      <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="table-nav">
                    <tr class="table-cont">
                      <td>1</td>
                      <td>2015-08-09 16:01</td>
                      <td>2015-08-09 19:01</td>
                      <td> 1</td>
                      <td> 0</td>
                      <td>男</td>
                      <td>正常</td>
                      <td><a href="/#/history-diagnose">查看详情</a></td>
                    </tr>
                    <tr class="table-cont">
                      <td>2</td>
                      <td>2015-12-18 10:01</td>
                      <td>2015-12-18 19:01</td>
                      <td> 1</td>
                      <td> 0</td>
                      <td>女</td>
                      <td>非正常</td>
                      <td><a href="/#/history-diagnose">查看详情</a></td>
                    </tr>
                    <tr class="table-cont">
                      <td>3</td>
                      <td>2015-12-18 10:01</td>
                      <td>2015-12-18 19:01</td>
                      <td> 1</td>
                      <td> 0</td>
                      <td>女</td>
                      <td>未诊断</td>
                      <td><a href="/#/history-diagnose">查看详情</a></td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>



  </div>

  <div style="height: 60px"></div>

</div>


<app-footer></app-footer>
