
.main-content{
  background: #fff;
}

.topbar {
  height: 50px;
  background: #131418;
}
.nav-region {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  .logo {
    height: 24px;
    width: 28px;
    float: left;
    margin-top: 14px;
    margin-left: -50px;
    a {
      width: 100%;
      height: 100%;
      display: block;
      background: url("/assets/images/logo.png") no-repeat;
    }
  }
  .title-style {
    float: left;
    height: 50px;
    width: 220px;
    margin-left: -16px;
    h3 {
      font-size:18px;
      font-weight: normal;
      line-height: 12px;
      color: #fff;
    }
  }
}


.data-content{
  width: 1200px;
  margin: 0 auto;
}


.bannerContainer{
  width: 100%;
  height: 550px;
  position: relative;
}

.mark{
  width: 100%;
  height: 550px;
  position: absolute;
  left:0;
  top:0;
  background: rgba(0,0,0,0.6);
}
.bannerPicList{
  padding: 0;
  margin: 0;
}
.bannerPicList li{
  height: 550px;
  display: none;
  img{
    width: 100%;
    height: 100%;
  }
  h3 {
    position: absolute;
    left: 37%;
    top: 40%;
    font-size: 48px;
    color: #fff;
    letter-spacing: 10px;
  }
}
.bannerPicList li.active{
  display: block;
}
.bannerContainer .bannerBtnList {
  position: absolute;
  bottom: 0;
  left: 42%;

}
.bannerContainer .bannerBtnList li {
  float: left;
  margin: 0 5px;
  list-style-type:none;
}
.bannerContainer .bannerBtnList span.picBtn {
  margin: 20px;
  height: 10px;
  width: 10px;
  background: #ccc;
  opacity: 0.3;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  span:nth-of-type(1) {
    background: #ccc;
    opacity: 0.5;
  }
  &:hover , &:active{
    background: #ccc;
    opacity: 0.5;
  }
}
.button-left {
  position: absolute;
  left: 0;
  top:43%;
}
.button-right{
  position: absolute;
  right: 0;
  top:43%;
}
.btn-left , .btn-right{
  width: 40px;
  height: 70px;
  border: none;
  opacity: 0.5;
  background: #999;
  font-size: 28px;
  color: #fff;
  outline: none;
}
.data-capacity {
  width: 1200px;
  height: 760px;
  margin: 20px auto;
  background: #f5f5f5;
  .data-map {
    width: 100%;
    height: 600px;
    margin-top: 30px;
  }
}

.kernel{
   height: 80px;
   margin: 40px 0 40px 0;
   text-align: center;
  h2{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
    color: #3498db;
    box-shadow: 0px -2px 4px 2px;
  }
  h5{
    font-size: 20px;
    color: #ccc;
  }
}
.expert {
  width: 100%;
  border:1px solid #71bcd1;
  border-radius: 3px;
  position: relative;
  .hot-order {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:1px solid #ccc;
    position: absolute;
    left:10%;
    top:-40px;
    box-shadow: -15px 5px 15px #0098F6 inset;
    background: #fff;
    a{
      line-height: 80px;
      padding-left: 16px;
      font-size: 20px;
      color: #52b766;
    }
  }
  .list-care{
    list-style: none;
    padding: 0;
    li{
      color: #828482;
      font-size: 13px;
      padding-left: 20px;
      &:nth-last-child(1){
        padding-top: 10px;
      }
    }
  }
  .btn-know{
    margin-left: 77%;
    margin-bottom: 10px;
    background-color: #3498db;
    border: none;
    border-radius: 3px;
    height: 30px;
    font-size: 13px;
  }
  &:hover{
    border:3px solid #3498db;
  }

}

.subscribe{
  background: #71bcd1;
  height: 180px;
  dt{
    margin-top: 15px;
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 15px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  dd{
    margin: 23% 0 0 5%;
    float: left;
    color: #333;
  }
}
.data-health {
  margin-top: 40px;
  background: #000;
}
.care{
  padding-top: 100px;
  text-align: center;
  color: #fff;
  width: 100%;
  .health {
    margin-bottom: 31px;
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 36px;
  }
}
.function {
  margin-top: 50px;
  margin-left:25px;
  dl{
    transition:all 1s;
    width: 90%;
    background-color: #fff;
    dt{
      width: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    dd{
      height: 170px;
      color: #333;
      h2{
        padding: 20px 0 0 10px;
        font-size: 20px;
      }
      p{
        padding-left: 10px;
        font-size: 14px;
      }
      ul{
        font-size: 13px;
        padding-left:10px;
        list-style: none;
        li{
          line-height: 30px;
          color: #666;
          img{
            width: 15px;
            height: 15px;
            margin-right: 5px;
          }
        }
      }
    }
    &:hover{
      box-shadow: 0px 0px 15px 10px #2b7de2;
    }
  }
}
.enter {
  background: #32a8f8;
}

.enter-role{
  width: 1200px;
  margin: 50px auto;
  .doctor{
    //box-shadow: 0px 0px 15px 10px #b1caea;
    transition:all 0.5s;
    width:  100%;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    &:hover{
      box-shadow: 0px 0px 15px 10px #b1caea;
    }
    dl{
      height: 170px;
      dt{
        margin: 10px;
        float: left;
        width: 140px;
        height: 140px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      dd{
        padding: 20px;
        h3{
          padding-top: 50px;
          font-size: 20px;
        }
        p{
          font-size: 12px;
          color: #666;
        }
      }
    }
    .btn-enter{
      margin: 20px auto;
    }
  }
}
.here{
  color: #000;
  h1{
    font-weight: bold;
  }
}
.data-enter{
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  .data-services{
    width: 100%;
    height: 200px;
    margin-top: 40px;
    dl{
      float: left;
      width:16.66%;
      dt{
        width: 100px;
        height: 100px;
        margin: 0 auto;
        img{
          width: 100%;
          height: 100%;
        }
      }
      dd{
        color: #000;
        text-align: center;
        padding-top: 20px;
      }
    }
  }
}
.teamwork {
  width: 220px;
  margin: 0 auto;
  .btn-free {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
  }
}
.policy-trend{
  width: 1200px;
  height:300px;
  margin-bottom: 20px;
  .trend{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-bottom: 3px solid #1B6A92;
  }
  h5{
    width: 150px;
    line-height: 24px;
    padding-left: 20px;
  }
  .discounts{
    width: 100%;
    display: flex;
    margin-top: 20px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    a{
      position: relative;
      width: 32%;
      img{
        width: 100%;
        height: 100%;
      }
      p{
        position: absolute;
        left:40%;
        top:30%;
        span{
          font-weight: bold;
          font-size: 32px;
          color: #fff;
        }
        .btn-enter{
          width: 65px;
          height: 30px;
          border: none;
          color: #f06d70;
          margin-top: 5px;
          border-radius: 5px;
          font-weight: bold;
        }
        .btn-company {
          color: #51BEDE;
        }
        .btn-people {
          color: #fab73b;
        }
      }
    }
  }
}

