<app-layout-header></app-layout-header>


<div class="main-content">

  <div class="bannerContainer">
    <div class="mark"></div>
    <ul class="bannerPicList">
      <li [class.active]="currentPic==0"><img src="/assets/images/5.jpg"/><h3>呵护❤️健康 实现新梦想</h3></li>
      <li [class.active]="currentPic==1"><img src="/assets/images/6.jpg"/><h3>把技术做到精湛 把服务做到极致</h3></li>
      <li [class.active]="currentPic==2"><img src="/assets/images/7.jpg"/><h3>移动互联网时代全新的诊所工作模式</h3></li>
      <li [class.active]="currentPic==3"><img src="/assets/images/8.jpg"/><h3>一站式全流程的诊所工作站</h3></li>
    </ul>
    <ul class="bannerBtnList">
      <li><span class="picBtn" (click)="changebanner(0)"></span></li>
      <li><span class="picBtn" (click)="changebanner(1)"></span></li>
      <li><span class="picBtn" (click)="changebanner(2)"></span></li>
      <li><span class="picBtn" (click)="changebanner(3)"></span></li>
    </ul>

  </div>

  <div class="data-content">



    <div class="data-enter">
      <h4>平台快速入口</h4>
      <div class="data-services">
        <a href="/#/enterprise">
          <dl>
            <dt><img src="/assets/home/enterprise.png" alt=""></dt>
            <dd>大数据采集平台</dd>
          </dl>
        </a>

        <a href="/#/discounts-government">
          <dl>
            <dt><img src="/assets/home/government.png" alt=""></dt>
            <dd>采集监控平台</dd>
          </dl>
        </a>

        <a href="/#/discounts-people">
          <dl>
            <dt><img src="/assets/home/personage.png" alt=""></dt>
            <dd>数据治理平台</dd>
          </dl>
        </a>
        <a href="/#/discounts-company">
          <dl>
            <dt><img src="/assets/home/scientific-research.png" alt=""></dt>
            <dd>个人健康档案</dd>
          </dl>
        </a>
        <a href="/#/cloud">
          <dl>
            <dt><img src="/assets/home/cloud.png" alt=""></dt>
            <dd>BI展示平台</dd>
          </dl>
        </a>
        <a href="/#/security">
          <dl>
            <dt><img src="/assets/home/security.png" alt=""></dt>
            <dd>分析挖掘平台</dd>
          </dl>
        </a>
      </div>
    </div>

    <div class="policy-trend">
      <div class="trend">
        <h5>政策动态</h5>
      </div>

      <div class="discounts">
        <a href="/#/discounts-government">
          <img src="/assets/home/administration.png" alt="">
          <p>
            <span>惠政</span><br>
            <button class="btn-default btn-enter">进入</button>
          </p>
        </a>
        <a href="/#/discounts-company">
          <img src="/assets/home/company.png" alt="">
          <p>
            <span>惠企</span><br>
            <button class="btn-default btn-enter btn-company">进入</button>
          </p>
        </a>
        <a href="/#/discounts-people">
          <img src="/assets/home/people.png" alt="">
          <p>
            <span>惠民</span><br>
            <button class="btn-default btn-enter btn-people">进入</button>
          </p>
        </a>
      </div>
    </div>

    <div class="enter-company">
      <div class="enter-title">
        <h5>入驻单位</h5>
        <span (click)="gotoStructuring()">合作入口 ></span>
      </div>

      <div class="companys">
        <ul class="company">
          <li class="discounts company-list">
            <a href="http://www.tsinghua.edu.cn/publish/newthu/index.html">
              <img src="/assets/home/qinghua.png" alt="">
            </a>
            <a href="http://www.pku.edu.cn/">
              <img src="/assets/home/beijing.png" alt="">
            </a>
            <a href="http://www.greatwall.cn/">
              <img src="/assets/home/greatwall.png" alt="">
            </a>
            <a href="http://www.dell.com/zh-cn/">
              <img src="/assets/home/dell.png" alt="">
            </a>
            <a href="https://www.philips.com.cn/">
              <img src="/assets/home/fhilips.png" alt="">
            </a>
          </li>
          <li class="discounts company-list">
            <a href="http://www.qq.com/">
              <img src="/assets/home/tengxun.png" alt="">
            </a>
            <a href="https://www.ibm.com/cn-zh/">
              <img src="/assets/home/IBM.png" alt="">
            </a>
            <a href="http://www.isoftstone.com/">
              <img src="/assets/home/ruantong.png" alt="">
            </a>
            <a href="http://www.inspur.com/">
              <img src="/assets/home/langchao.png" alt="">
            </a>
            <a href="https://skymind.ai/">
              <img src="/assets/home/skymind.png" alt="">
            </a>
          </li>
          <li class="discounts company-list">
            <a href="https://www.synyi.com/">
              <img src="/assets/home/senyi.png" alt="">
            </a>
            <a href="https://www.dingxiang-inc.com/">
              <img src="/assets/home/dingxiang.png" alt="">
            </a>
            <a href="http://www.berrygenomics.com/">
              <img src="/assets/home/beirui.png" alt="">
            </a>
            <a href="http://www.youedata.com/">
              <img src="/assets/home/youyi.png" alt="">
            </a>
            <a href="http://www.dothealth.cn/">
              <img src="/assets/home/judian.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="enter-company strategy-cooperation" style="margin-top: 30px">
      <div class="enter-title">
        <h5>战略合作</h5>
        <span (click)="gotoStructuring()">战略合作 ></span>
      </div>
      <div class="companys">
        <ul class="company">
          <li class="strategy">
            <a href="https://www.ibm.com/cn-zh/">
              <img src="/assets/home/Ibms.png" alt="">
            </a>
            <a href="https://www.wuxiapptec.com.cn/">
              <img src="/assets/home/yaoming.png" alt="">
            </a>
            <a href="https://www.philips.com.cn/">
              <img src="/assets/home/philips.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="enter-company capital-zoology">
      <div class="enter-title">
        <h5>资本生态</h5>
        <span (click)="gotoStructuring()">生态合作 ></span>
      </div>

      <div class="companys">
        <ul class="company">
          <li class="capital">
            <a href="https://www.sequoiacap.com/china/">
              <img src="/assets/home/sequola.png" alt="">
            </a>
            <a href="http://www.cec.com.cn/">
              <img src="/assets/home/dianzi.png" alt="">
            </a>
            <a href="">
              <img src="/assets/home/shugang.png" alt="">
            </a>
            <a href="">
              <img src="/assets/home/shurong.png" alt="">
            </a>
          </li>
          <li class="capital">
            <a href="https://www.synyi.com/">
              <img src="/assets/home/zhineng.png" alt="">
            </a>
            <a href="http://www.medlinker.com/">
              <img src="/assets/home/medlinker.png" alt="">
            </a>
            <a href="http://www.mobilemd.cn/">
              <img src="/assets/home/taimei.png" alt="">
            </a>
            <a href="http://www.dothealth.cn/">
              <img src="/assets/home/yiliao.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<app-layout-footer></app-layout-footer>

