
.main-content{
  background: #f5f5f5;
}

.topbar {
  height: 50px;
  background: #131418;
}
.nav-region {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  .logo {
    height: 24px;
    width: 28px;
    float: left;
    margin-top: 14px;
    margin-left: -50px;
    a {
      width: 100%;
      height: 100%;
      display: block;
      background: url("/assets/images/logo.png") no-repeat;
    }
  }
  .title-style {
    float: left;
    height: 50px;
    width: 220px;
    margin-left: -16px;
    h3 {
      font-size:18px;
      font-weight: normal;
      line-height: 12px;
      color: #fff;
    }
  }
}
.data-content{
  width: 1200px;
  margin: 0px auto;
}

.kernel{
   height: 120px;
   margin: 40px 0;
   text-align: center;
  h2{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
    color: #3498db;
    box-shadow: 0px -2px 4px 2px;
    height: 60px;
    line-height:60px;
  }
  h5{
    font-size: 20px;
    color: #ccc;
  }
}
.expert {
  width: 100%;
  border:1px solid #ccc;
  border-radius: 3px;
  position: relative;
  .hot-order {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:1px solid #ccc;
    position: absolute;
    left:10%;
    top:-40px;
    box-shadow: -15px 5px 15px #0098F6 inset;
    background: #fff;
    a{
      line-height: 80px;
      padding-left: 16px;
      font-size: 20px;
      color: #52b766;
    }
  }
  .list-care{
    list-style: none;
    padding: 0;
    height: 80px;
    li{
      color: #828482;
      font-size: 13px;
      padding-left: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .btn-know{
    margin-left: 77%;
    margin-bottom: 10px;
    background-color: #3498db;
    border: none;
    border-radius: 3px;
    height: 30px;
    font-size: 13px;
  }
  &:hover{
    //border:1px solid #3498db;
    box-shadow: 0px 0px 15px 10px #b1caea;
  }

}

.subscribe{
  background: #71bcd1;
  height: 180px;
  dt{
    margin-top: 15px;
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 15px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  dd{
    margin: 23% 0 0 5%;
    float: left;
    color: #333;
  }
}

.carousel-list {
  position: absolute;
  right:0;
  top: 70px;
  left:-40%;
    a{
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
        border: 6px solid #53bef5;
        background: #1f9fe9;
        color: #fff;
        margin-right: 20px;
        i{
          display: inline-block;
          font-style: normal;
          width: 60px;
          height: 50px;
          margin: 28px auto;
        }
    }

}
.carousel-btn {
  position: absolute;
  right:0;
  bottom: 50px;
  left:-40%;
  button{
    width: 220px;
    height: 50px;
    border-radius: 25px;
    margin-right: 20px;
    &:hover{
      background: #1f9fea;;
      color: #fff;
    }
  }

}


.data-health {
  background: #000;
}
.care{
  padding-top: 100px;
  text-align: center;
  color: #333;
  width: 100%;
  .health {
    margin-bottom: 31px;
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 36px;
  }
}
.enter {
  background: #F5F5F5;
}
.title-heart{
  color: #fff;
}
.enter-role{
  width: 1200px;
  margin: 50px auto;
  .doctor{
    transition:all 0.5s;
    width:  100%;
    border: 1px solid #ccc;
    background: #1badd8;
    border-radius: 5px;
    &:hover{
      box-shadow: 0px 0px 15px 10px #b1caea;
    }
    dl{
      height: 170px;
      dt{
        margin: 10px;
        float: left;
        width: 140px;
        height: 140px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      dd{
        padding: 20px;
        h3{
          padding-top: 50px;
          font-size: 20px;
        }
        p{
          font-size: 12px;
          color: #FFF;
        }
      }
    }
    .btn-enter{
      margin: 20px auto;
    }
  }
}
.function {
  margin-top: 50px;
  margin-left:25px;
  dl{
    transition:all 1s;
    width: 90%;
    background-color: #fff;
    dt{
      width: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    dd{
      height: 170px;
      color: #333;
      h2{
        padding: 20px 0 0 10px;
        font-size: 20px;
      }
      p{
        padding-left: 10px;
        font-size: 14px;
      }
      ul{
        font-size: 13px;
        padding-left:10px;
        list-style: none;
        li{
          line-height: 30px;
          color: #666;
          img{
            width: 15px;
            height: 15px;
            margin-right: 5px;
          }
        }
      }
    }
    &:hover{
      box-shadow: 0px 0px 15px 10px #2b7de2;
    }
  }
}
.here{
  color: #000;
  h1{
    font-weight: bold;
  }
}
.data-enter{
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  .data-services{
    width: 100%;
    height: 200px;
    margin-top: 40px;
    dl{
      float: left;
      width:16.66%;
      dt{
        width: 100px;
        height: 100px;
        margin: 0 auto;
        img{
          width: 100%;
          height: 100%;
        }
      }
      dd{
        color: #fff;
        text-align: center;
        padding-top: 20px;
      }
    }
  }
}
.teamwork {
  width: 220px;
  margin: 0 auto;
  .btn-free {
    color: #333;
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
  }
}


