<app-header></app-header>


<div class="main-content" style="margin-top: 0px;">

  <!--<carousel [noWrap]="noWrapSlides" style="height: 500px">-->
    <!--<slide *ngFor="let slide of slides; let index=index" style="height: 500px">-->
      <!--<img [src]="slide.image" alt="image slide" style="display: block; width: 100%; height: 500px;background-size: 100% 100%;">-->
      <!--<div class="">-->
        <!--<button class="btn btn-primary">医生入口</button>-->
        <!--<button class="btn btn-primary">患者入口</button>-->
      <!--</div>-->
      <!--<div class="carousel-caption">-->
       <!---->
        <!--<p>{{slide.text}}</p>-->
      <!--</div>-->
    <!--</slide>-->
  <!--</carousel>-->


  <carousel>
    <slide>
      <img src="assets/images/1.jpg" alt="First slide" style="display: block; width: 100%; height: 500px;background-size: 100% 100%;">
      <div class="carousel-caption carousel-list">
        <h3 style="font-size: 44px;">您的心脏健康管理专家</h3>
        <p style="margin-top: 40px">
          <a><i>帮助发现心脏病</i></a>
          <a><i>帮助跟踪病情及疗效</i></a>
          <a><i>帮助预测疾病突发风险</i></a>
          <a><i>捕捉异常供就医参考</i></a>
        </p>
      </div>

      <div class="carousel-caption carousel-btn">
        <button class="btn btn-default" (click)="gotoDoctor()">医生入口</button>
        <button class="btn btn-default" (click)="gotoPatient()">患者入口</button>
      </div>
    </slide>
    <slide>
      <img src="assets/images/2.jpg" alt="Second slide" style="display: block; width: 100%; height: 500px;background-size: 100% 100%;">
    </slide>
    <slide>
      <img src="assets/images/3.jpg" alt="Third slide" style="display: block; width: 100%; height: 500px;background-size: 100% 100%;">
    </slide>
    <slide>
      <img src="assets/images/4.jpg" alt="Third slide" style="display: block; width: 100%; height: 500px;background-size: 100% 100%;">
    </slide>
  </carousel>

  <div class="data-content">
    <div class="kernel">
      <h2>核心平台</h2>
      <h5>The Core Platform</h5>
    </div>
    <div class="row enter-role">
      <div class="col-md-4">
        <div class="expert">
          <div class="hot-order">
            <a>查看</a>
          </div>

          <dl class="subscribe">
            <dt><img src="/assets/images/menzhen.png" alt=""></dt>
            <dd>
              <h4>心电设备</h4>
              <p>集团核心产品</p>
            </dd>
          </dl>
          <ul class="list-care">
            <li>健康级心电设备</li>
            <li>医疗级心电设备</li>
            <li>静态心电图机(ECG)</li>
            <li>动态心电图机()Holter</li>
          </ul>
          <button class="btn-primary btn-know">了解详情</button>
        </div>
      </div>

      <div class="col-md-4">
        <div class="expert">
          <div class="hot-order">
            <a>查看</a>
          </div>

          <dl class="subscribe">
            <dt><img src="/assets/images/shouji.jpg" alt=""></dt>
            <dd>
              <h4>手机客户端</h4>
              <p>集团核心平台</p>
            </dd>
          </dl>
          <ul class="list-care">
            <li>手机客户端就是可以在手机终端运行的软件</li>
            <li>是无线互联网行业中一个重点发展的项目</li>
            <li>以手机客户端产生的产业同样发展迅猛</li>
            <li>企业可以无需依赖手机媒体、手机应用即可自己实现便捷、有效的移动营销。</li>
          </ul>
          <button class="btn-primary btn-know">了解详情</button>
        </div>


      </div>
      <div class="col-md-4">
        <div class="expert">
          <div class="hot-order">
            <a>查看</a>
          </div>

          <dl class="subscribe">
            <dt><img src="/assets/images/yunzhong.png" alt=""></dt>
            <dd>
              <h4>云平台管理</h4>
              <p>平台管理中心</p>
            </dd>
          </dl>
          <ul class="list-care">
            <li>软件即服务,SaaS应用是完全在“云”里</li>
            <li>附着服务（Attached services）</li>
            <li>平台一般模型</li>
            <li>户内到云平台，云服务平台</li>
          </ul>
          <button class="btn-primary btn-know">了解详情</button>
        </div>
      </div>
    </div>

    <div style="width:100%; height: 50px;"></div>
  </div>

  <!--<div class="data-health enter">-->
    <!--<div class="care">-->
      <!--<h1 class="health" style="font-size: 42px;">开始进入多角色入口</h1>-->
      <!--<p style="font-size: 14px;"><a [routerLink]="['/register']" >注册</a> 即可领取40+款产品的免费体验套餐，更有医护人员专属 <a [routerLink]="['/register']">在线医疗服务</a></p>-->
      <!--<p style="font-size: 14px;">为您提供最佳上医疗服务实践机会</p>-->
    <!--</div>-->

    <!--<div class="row enter-role">-->
      <!--<div class="col-md-6">-->
        <!--<div class="doctor">-->
          <!--<dl>-->
            <!--<dt><img src="/assets/images/favicon.ico" alt=""></dt>-->
            <!--<dd>-->
              <!--<h3 class="title-heart">一站式全流程的诊所工作站</h3>-->
              <!--<p>为基层医疗机构提供一站式人才服务解决方案,为基层医疗机构提供全方位培训解决方案,为基层医疗机构量身打造的一整套管理工具</p>-->
            <!--</dd>-->
          <!--</dl>-->
          <!--<div class="teamwork btn-enter">-->
            <!--<button class="btn-default btn-free">医生入口</button>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->
      <!--<div class="col-md-6">-->
        <!--<div class="doctor">-->
          <!--<dl>-->
            <!--<dt><img src="/assets/images/xindian.png" alt=""></dt>-->
            <!--<dd>-->
              <!--<h3 class="title-heart">以患者为中心</h3>-->
              <!--<p>提供诊前、诊中、诊后全流程服务,推送健康提醒，建立良好医患关系,全面的客户关系管理，提高用户留存率</p>-->
            <!--</dd>-->
          <!--</dl>-->
          <!--<div class="teamwork btn-enter">-->
            <!--<button class="btn-default btn-free" (click)="gotoPatient()">患者入口</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

  <!--<div class="data-content">-->
    <!--<div class="data-enter">-->
      <!--<div class="care here">-->
        <!--<h1 class="health">在这里，有你经营所需要的一切</h1>-->
        <!--<p>平安万家为您提供更专业的一站式诊所经营解决方案</p>-->
      <!--</div>-->
      <!--<div class="data-services">-->
        <!--<a href="/#/enterprise">-->
          <!--<dl>-->
            <!--<dt><img src="/assets/home/enterprise.png" alt=""></dt>-->
            <!--<dd>万家认证</dd>-->
          <!--</dl>-->
        <!--</a>-->
        <!--<a href="/#/discounts-government">-->
          <!--<dl>-->
            <!--<dt><img src="/assets/home/government.png" alt=""></dt>-->
            <!--<dd>企业服务</dd>-->
          <!--</dl>-->
        <!--</a>-->
        <!--<a href="/#/discounts-people">-->
          <!--<dl>-->
            <!--<dt><img src="/assets/home/personage.png" alt=""></dt>-->
            <!--<dd>医疗保险</dd>-->
          <!--</dl>-->
        <!--</a>-->
        <!--<a href="/#/discounts-company">-->
          <!--<dl>-->
            <!--<dt><img src="/assets/home/scientific-research.png" alt=""></dt>-->
            <!--<dd>商品营销</dd>-->
          <!--</dl>-->
        <!--</a>-->
        <!--<a href="/#/cloud">-->
          <!--<dl>-->
            <!--<dt><img src="/assets/home/cloud.png" alt=""></dt>-->
            <!--<dd>品牌营销</dd>-->
          <!--</dl>-->
        <!--</a>-->
        <!--<a href="/#/security">-->
          <!--<dl>-->
            <!--<dt><img src="/assets/home/security.png" alt=""></dt>-->
            <!--<dd>万家人才</dd>-->
          <!--</dl>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="teamwork">-->
        <!--<button class="btn-primary btn-free">申请合作</button>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

  <!--<div class="data-health">-->
      <!--<div class="care">-->
        <!--<h1 class="health">丰富易用的解决方案</h1>-->
        <!--<p>为基层医疗医护人员提供诊所内部临床、运营、医技及供应链、绩效管理运营等服务三大核心————12功能板块</p>-->
      <!--</div>-->

      <!--<div class="row function">-->
        <!--<div class="col-md-2">-->
          <!--<dl>-->
            <!--<dt><img src="/assets/images/zhihui.png" alt=""></dt>-->
            <!--<dd>-->
              <!--<h2>诊疗管理</h2>-->
              <!--<p>专业等诊疗工作站，全流程助力医护工作</p>-->
              <!--<ul>-->
                <!--<li><img src="/assets/images/1ertong.png" alt="">预约管理</li>-->
                <!--<li><img src="/assets/images/8bingli.png" alt="">电子病历管理</li>-->
              <!--</ul>-->
            <!--</dd>-->
          <!--</dl>-->

        <!--</div>-->
        <!--<div class="col-md-2">-->
          <!--<dl>-->
            <!--<dt><img src="/assets/images/menzhen.png" alt=""></dt>-->
            <!--<dd>-->
              <!--<h2>诊疗管理</h2>-->
              <!--<p>专业等诊疗工作站，全流程助力医护工作</p>-->
              <!--<ul>-->
                <!--<li><img src="/assets/images/5tijian.png" alt="">辅助诊疗</li>-->
                <!--<li><img src="/assets/images/6yiliao.png" alt="">发药收费管理</li>-->
              <!--</ul>-->
            <!--</dd>-->
          <!--</dl>-->

        <!--</div>-->

        <!--<div class="col-md-2">-->
          <!--<dl>-->
            <!--<dt><img src="/assets/images/yaoxing.png" alt=""></dt>-->
            <!--<dd>-->
              <!--<h2>运营管理</h2>-->
              <!--<p>先进等运营模式，全方位提升诊所管理</p>-->
              <!--<ul>-->
                <!--<li><img src="/assets/images/7gonggong.png" alt="">连锁管理</li>-->
                <!--<li><img src="/assets/images/4manxingbing.png" alt="">经营分析统计</li>-->
              <!--</ul>-->
            <!--</dd>-->
          <!--</dl>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
          <!--<dl>-->
            <!--<dt><img src="/assets/images/jiankang.png" alt=""></dt>-->
            <!--<dd>-->
              <!--<h2>运营管理</h2>-->
              <!--<p>先进等运营模式，全方位提升诊所管理</p>-->
              <!--<ul>-->
                <!--<li><img src="/assets/images/10qita.png" alt="">药品管理</li>-->
                <!--<li><img src="/assets/images/9geren.png" alt="">集采平台</li>-->
              <!--</ul>-->
            <!--</dd>-->
          <!--</dl>-->
        <!--</div>-->

        <!--<div class="col-md-2">-->
          <!--<dl>-->
            <!--<dt><img src="/assets/images/zhihui.png" alt=""></dt>-->
            <!--<dd>-->
              <!--<h2>客户管理</h2>-->
              <!--<p>全面的客户关系管理，提升用户留存率</p>-->
              <!--<ul>-->
                <!--<li><img src="/assets/images/3chuanran.png" alt="">会员管理</li>-->
                <!--<li><img src="/assets/images/8bingli.png" alt="">电子病历档案管理</li>-->
              <!--</ul>-->
            <!--</dd>-->
          <!--</dl>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
          <!--<dl>-->
            <!--<dt><img src="/assets/images/jiankang.png" alt=""></dt>-->
            <!--<dd>-->
              <!--<h2>客户管理</h2>-->
              <!--<p>全面的客户关系管理，提升用户留存率</p>-->
              <!--<ul>-->
                <!--<li><img src="/assets/images/5tijian.png" alt="">随访管理</li>-->
                <!--<li><img src="/assets/images/2funv.png" alt="">医患满意度管理</li>-->
              <!--</ul>-->
            <!--</dd>-->
          <!--</dl>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div style="width:100%; height: 50px;"></div>-->
    <!--</div>-->

</div>


<app-footer></app-footer>

